.active
  color: #555
  cursor: default
  background-color: #fff
  border-top: 1px solid #ddd !important
  border-left: 1px solid #ddd !important
  border-right: 1px solid #ddd !important
  border-bottom-color: transparent
  a, a:focus, &:hover
    color: #555
    cursor: default
    background-color: #fff !important
    border-bottom-color: transparent !important
.disabled
  pointer-events: none

