.userPhoto
    width: 100px
    height: 100px
.selectedPage
    font-weight: bold
    border-color: black
.pageNumber
    padding: 2px
    border: 1px solid grey
span
    padding: 5px
.paginator
    padding: 10px