.profileWrapper
  background: #ffffff
  line-height: 25px
  padding: 15px
  margin-left: 130px 
  b
    font-weight: 600
  a
    color: #404040
    text-decoration: none
    &:link, &:visited
      color: #404040
      text-decoration: none
    &:hover
      cursor: pointer 
.description
  margin-bottom: 10px
.name
  text-transform: capitalize
.contacts
  margin-bottom: 5px
  a
    font-style: italic 
    font-size: 13px        
.formButton
  display: block
  width: 30%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857143
  color: #fff
  background-color: #4F5467
  background-image: none
  border: 1px solid transparent
  border-radius: 4px
  margin: 5px 0 20px 0
  &:hover
    border: 1px solid #4F5467
    color: #4F5467
    background: #edf1f5
  &:focus
    outline: none
.profileForm
  max-width: 350px
  input, textarea  
    border: 1px solid #ddd
    border-radius: 4px
    min-width: 350px
    margin-bottom: 5px
    &:focus
      outline: 2px solid #edf1f5
  .check
    min-width: 5px
    &:focus
      outline: none


