.profileWrapper
  background: #ffffff
  line-height: 25px
  padding: 15px
  margin-left: 130px
.description
  margin-bottom: 10px
.profileForm
  max-width: 350px
  textarea  
    border: 1px solid #ddd
    border-radius: 4px
    min-width: 350px
    margin-bottom: 5px
    &:focus
      outline: 2px solid #edf1f5
.posts
  margin-top: 20px
.profileMessage
  padding-left: 50px
.messageAvatar
  width: 70px
  height: 70px
.profileLike
  padding: 10px
  color: #e6381b
.likeCount
  color: #333


