.selectedPage
    font-weight: bold
    border-color: black
.pageNumber
    border: 1px solid #ddd
    margin: 1px
    border-radius: 4px
    text-align: center
    background-color: #edf1f5
    &:hover
        background-color: #fff
    &:focus
        outline: none
