img
  width: 100%
.mainImage
  width: 450px
  margin: 0 auto
.profileWrapper
  display: flex
.avatar
  width: 200px
  height: 200px
.description
  padding: 10px
.name
  font-size: 35px
  text-transform: capitalize
.data
  font-size: 22px